<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>
<h1>All campgrounds</h1>
<p><a href="/campgrounds/new">Add campground</a></p>
<% for(campground of campgrounds) { %>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <% if(campground.images[0]) { %>
      <img
        src="<%= campground.images[0].url %>"
        alt="campground image"
        class="img-fluid p-0"
      />
      <% } %>
    </div>
    <div class="card-body col-md-8">
      <h5 class="card-title"><%= campground.title %></h5>
      <p class="card-text"><%= campground.description%></p>
      <a
        class="btn btn-primary"
        role="button"
        href="/campgrounds/<%= campground._id %>"
        >View <%= campground.title %></a
      >
    </div>
  </div>
</div>
<script>
  const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
  const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
</script>
<script src="/scripts/clusterMap.js"></script>
<% } %>
