<% layout('layouts/boilerplate') %>

<h1>All campgrounds</h1>
<p><a href="/campgrounds/new">Add campground</a></p>

<% for(campground of campgrounds) { %>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <img
        src="<%= campground.imageUrl%>"
        alt="campground image"
        class="img-fluid p-0"
      />
    </div>
    <div class="card-body col-md-8">
      <h5 class="card-title"><%= campground.title %></h5>
      <p class="card-text"><%= campground.description%></p>
      <a
        class="btn btn-primary"
        role="button"
        href="/campgrounds/<%= campground._id %>"
        >View <%= campground.title %></a
      >
    </div>
  </div>
</div>
<% } %>
