<% layout('layouts/boilerplate') %>
<div class="card mb-3">
  <div>
    <img
      class="card-img-top"
      src="<%= campground.imageUrl%>"
      alt="Campground image"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= campground.title %></h5>
    <p class="card-text"><%= campground.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-muted"><%= campground.location %></li>
    <li class="list-group-item">$<%= campground.price %>/night</li>
  </ul>
  <div class="card-footer bg-transparent">
    <a class="btn btn-info" href="/campgrounds/<%= campground.id%>/edit"
      >Edit</a
    >
    <form
      class="d-inline"
      action="/campgrounds/<%= campground.id%>?_method=DELETE "
      method="post"
    >
      <button class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
